apiVersion: v1
kind: Service
metadata:
  name: portfolio-backend-service
  namespace: portfolio-devops
spec:
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000
  type: ClusterIP         # Internal Service for the frontend to access