apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: my-node-app
spec:
  serviceName: "my-node-app-svc"   # required for StatefulSet
  replicas: 2
  selector:
    matchLabels:
      app: my-node-app
  template:
    metadata:
      labels:
        app: my-node-app
    spec:
      containers:
      - name: my-node-app
        image: sarthaksharma19/my-node-app:latest
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: data
          mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
