apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: portfolio-devops
spec:
  selector:
    app: mysql
  ports:
  - port: 3306 # Internal Port
    targetPort: 3306 # Container Port
  type: ClusterIP # Internal Service for the backend to access