apiVersion: v1
kind: Service
metadata:
  name: portfolio-frontend-service
  namespace: portfolio-devops
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
  type: LoadBalancer